doctype html
html.mdc-typography
  head
    title songalike.
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
    link(rel='stylesheet', href='../node_modules/material-components-web/dist/material-components-web.css')
    link(rel='stylesheet', href='../public/styles.css')
  block content
