extends head
block content

  body
    div.container
      h2.mdc-typography--display2 songalike.
      if message
        p#error
          | #{message}
          br
          | #{instruction}
      else
        p#error
          | Look for any song with the exact Artist and Track spellings.
      form(method='get', action='/search')
        fieldset
          .mdc-textfield(data-mdc-auto-init='MDCTextfield')
            label.mdc-textfield__label(for='artist') Artist
            input#artist.mdc-textfield__input(type='text', name='artist')
          .mdc-textfield(data-mdc-auto-init='MDCTextfield')
            label.mdc-textfield__label(for='title') Track title
            input#title.mdc-textfield__input(type='text', name='title')
          br
          button.mdc-button.mdc-button--raised.mdc-theme--primary-bg.mdc-button--primary(type='submit')
            | Get the track info
    script(src='public/material-components-web.js')
    script.
      mdc.autoInit()
      function init() {
        // Clear inputs
        var inputs = document.getElementsByClassName("mdc-textfield__input");
        for (var i = 0; i < 2; i++) {
          inputs[i].value = ""
        }
      }
      window.onload = init;
